h1 {
    color: crimson;
}

button {
    width: 200px;
    height: 50px;
    color: #ffffff;
    background-color: teal;
}

img {
    width: 400px;
    height: 350px;
    display: none;
    margin: auto;
}